# Ambiente virtual
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo

# Banco SQLite
db.sqlite3

# Logs
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.*